.road-item {
  display: flex;
  justify-content: space-between;
  align-items: left;
  width: 450px;
  height: 30px;
}
.input-container button,
.input-container select {
  margin: 1px;
}

.button {
  border-radius: 10;
}
.add-button {
  background-color: cadetblue;
  color: "white";
  margin-right: 3;
}
.delete-button {
  background-color: lightcoral;
}
